<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <img src="../../assets/icons/pleca superior.jpg" class="img-fluid" alt="Responsive image">
    </div>
</nav>