<app-header></app-header>
<div class="bkg_main container">
    <div class="mt-5 mx-2 mx-md-4 mx-lg-5 d-flex">
        <button type="button" class="btn btn-libro">Libro</button>
        <button type="button" class="btn btn-platf">Plataforma</button>
        <button type="button" class="btn btn-app">App</button>

        <p class="txt-licence"> LICENCIA: 0x6675/licencias</p>


    </div>
    <div class="responsive-iframe mx-2 mx-md-4 mx-lg-5">
        <iframe class="embed-responsive-item" src="http://testsocoprov3.evortex.com.mx/biblioteca#/165"
            allowfullscreen></iframe>
    </div>
</div>