.bkg_main {
    background: linear-gradient(to bottom, white, #eff6f9);
    height: 100vh;
}

.responsive-iframe {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 60px;
    overflow: hidden;
}

.responsive-iframe iframe,
.responsive-iframe object,
.responsive-iframe embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.btn {
    color: white;
    font-weight: bold;
}
.btn-libro {
    background-color: #aab437;
}
.btn-platf {
    background-color: #70ae97;
}
.btn-app {
    background-color: #5490b1;
}
.txt-licence {
    display: inline-block;
    margin-left: auto;
}
