<div class="box">
  <img class="test" src="./../../assets/icons/bkg_biblio.jpg" alt="Image did not load...">
  <div class="container">
    <div class="row h-100 ">
      <div class="col-1 col-sm-0">

      </div>
      <div class="col-10 col-lg-5 my-auto">
        <h1 class="title mb-3">¡ B I E N V E N I D O !</h1>
        <div class="card-login">
          <img style="max-width: 90%;height: auto;" class="mx-3 my-4 img-fluid"
            src="./../../assets/icons/title_login.png" alt="">
          <p class="sub_title mx-3">Ingresa una licencia valida para ingresar al sistema</p>
          <input type="text" class="mx-2 mt-2 mb-4">
          <img class="robot_login" src="./../../assets/icons/robotLogin.png" alt="">
        </div> 
      </div>
      <div class="col-1 col-sm-0 ">

      </div>
    </div>
  </div>
</div>