* {
    margin: 0;
    padding: 0;
}

.box {
    width: 100vw;
    height: 100vh;
    background: #ccc;
    overflow: hidden;
}
.box img.test {
    width: 100%;
    height: auto;
    z-index: 0;
    position: absolute;
}
@supports (object-fit: cover) {
    .box img.test {
        height: 100%;
        object-fit: cover;
        object-position: center center;
        position: absolute;
        z-index: 0;
    }
}
.container {
    position: absolute;
    z-index: 5;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    height: 100vh;
}
.card-login {
    background: #f9f9fd;
    height: 200px;
    border-radius: 10px;
    border-width: 1px;
    border-style: solid;
    border-color: #00ffff;
    position: relative;
}
.title {
    color: #00ffff;
    text-align: center;
    font-weight: 700;
}
.sub_title {
    text-align: center;
    color: #384a63;
}
.robot_login{
    position: absolute;
    width: 410px;
    top: -125px;
    left: 339px;
}
@media (max-width: 575px) {
    .title {
        font-size: 8.8vw;
    }
    .sub_title {
        font-size: 3vw;
    }
    .card-login {
        height: 250px;
    }
}
@media (min-width: 576px) {
    .title {
        font-size: 6.6vw;
    }
    .sub_title {
        font-size: 2.3vw;
    }
    .card-login {
        height: 250px;
    }
}
@media (min-width: 768px) {
    .title {
        font-size: 6.8vw;
    }
    .sub_title {
        font-size: 2.6vw;
    }
    .card-login {
        height: 270px;
    }
}
@media (min-width: 992px) {
    .title {
        font-size: 3.7vw;
    }
    .sub_title {
        font-size: 1.3vw;
    }
    .card-login {
        height: 217px;
    }
}
@media (min-width: 1200px) {
    .title {
        font-size: 3.7vw;
    }
    .sub_title {
        font-size: 1.4vw;
    }
    .card-login {
        height: 225px;
    }
    .robot_login{
        left: 411px;
    }
}
@media (min-width: 1400px) {
    .title {
        font-size: 60px;
    }
    .sub_title {
        font-size: 22.5px;
    }
    .card-login {
        height: 255px;
    }
}

input {
    background: #e1e3ed;
    border: none;
    border-radius: 5px;
    width: 95%;
    height: 50px;
    justify-content: center;
    text-align: center;
}
